.general-gradient-bg {
  height: 100vh; /* full viewport height */
  width: 100%;
  background: linear-gradient(-45deg, #ffffff, #ffe9c7);
  background-size: 400% 400%;
  animation: gradientScroll 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientScroll {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.modal-1000w {
  max-width: 1000px;
  max-height: 200px;
}